body {
    font-family: Arial, sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  .campaign-card {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .hero{
    width : 100%;
    height: 100vh;
    background-image: url("crwd/crowd1.png");
    background-position: center;
    background-size: cover;
    position: relative;

  }
  
  .menu-icon{
    position: absolute;
    top : 0;
    left: 0;
    width: 90px;
    background: rgba(255, 255, 255, 0.5);
    padding: 30px 25px;
    cursor: pointer;

  }

  .sidebar{
    width: 35%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(rgba(70,0,225,0.75), rgba(7,0,60,0.85));
    padding: 20px 60px;
    color: #fff;
  }

  .top-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar h1{
    margin-top: 130px;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .sidebar h3{
    font-size: 13px;
    margin-top: 30px;
  }

  .sidebar a{
    display: inline-block;
    text-decoration: none;
    color: #4e00ff;
    background: #fff;
    font-size: 14px;
    padding: 15px 40px;
    border-radius: 4px;
    margin-top: 30px;
  }

  #btn{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%);
    width: 100px;
    cursor: pointer;
  }

  